version: '3'
services:
  {{ homeassistant.name }}:
    container_name: homeassistant
    image: "ghcr.io/home-assistant/home-assistant:stable"
    volumes:
      - {{ homeassistant.config }}:/config
      - /etc/localtime:/etc/localtime:ro
      - /run/dbus:/run/dbus:ro
    restart: unless-stopped
    ports:
      - "{{ homeassistant.port }}:8123"
    privileged: true
