services:
  open-webui:
    container_name: {{ open-webui.name }}
    image: ghcr.io/open-webui/open-webui:main
    ports:
      - {{ open-webui.port }}:8080
    extra_hosts:
      - "host.docker.internal:host-gateway"
    volumes:
      - {{ open-webui.data  }}:/app/backend/data
    restart: unless-stopped
    environment:
      OLLAMA_BASE_URL: "http://localhost:11434"
    network_mode: host
  
