version: "3"
services:
  owncast:
    image: owncast/owncast:latest
    ports:
      - "{{ owncast.ui-port }}:8080"
      - "{{ owncast.stream-port }}:1935"
    volumes:
      - {{ owncast.data }}:/app/data
